{% extends "base.html" %}

{% block content %}

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh;">
  <div>
    <h1 style="color: #ff5733; text-align: center;">Welcome to the Home Page!</h1>
    <p style="color: #333; font-size: 18px; text-align: center;">This is a simple Flask application.</p>
    <div style="display: flex; justify-content: center; margin-top: 20px;">

      <a href="{{ url_for('dashboard') }}" class="btn btn-warning" style="display: block; width: fit-content; margin: 20px auto 0;">
        Dashboard
      </a>
      <a href="{{url_for('market')}}" class="btn btn-info" style="display: block; width: fit-content; margin: 20px auto 0;"> Market </a>
    </div>
  </div>
</div>


{% endblock %}