{% extends "base.html" %}

{% block content %}

<div class="container my-5">

    <div class="container mt-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>


    <h2 class="mb-4">Registration Form</h2>

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}



        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.age.label(class="form-label") }}
            {{ form.age(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.bio.label(class="form-label") }}
            {{ form.bio(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.gender.label }} <br>
            {{ form.gender() }}
        </div>

        <div class="mb-3">
            {{ form.role.label(class="form-label") }}
            {{ form.role(class="form-select") }}
        </div>

        <div class="mb-3">
            {{ form.skills.label }}
            {{ form.skills(class="form-select", multiple=True) }}
        </div>

        <div class="form-check mb-3">
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label(class="form-check-label") }}
        </div>

        <div class="mb-3">
            {{ form.profile_pic.label(class="form-label") }}
            {{ form.profile_pic(class="form-control") }}
        </div>

        {{ form.submit(class="btn btn-primary") }}

    </form>

</div>
{% endblock %}